<div class="login-register">

  <div class="register-page">

<form>
    <fieldset>
     <legend>Register:</legend>
    First Name: <input type="text"><br>
    Last Name: <input type="text"><br>
     Email: <input type="text"><br>
     Password: <input type="text">
     Confirm Password: <input type="text">
    </fieldset>
   </form>
  </div>

  <div class="login-page">

<form>
    <fieldset>
     <legend>Login:</legend>
     Name: <input type="text"><br>
     Password: <input type="password"><br>
   
    </fieldset>
   </form>
  </div>
  </div>